<div class="main-area">
 <div class = "content">

  <div class="topic">
      <h1>いいね！一覧</h1>
      <p>ログイン名</p>
      <p><%= @current_user.name %></p>
  </div>

  <div class="main-content">
    <% @likes.each do |like| %>
     <% post = Post.find_by(id: like.post_id) %>
    <div class="main-post-content">
     <div class="float">
      <p1>名前</p>
      <p><%= link_to(post.name,"/users/#{post.user_id}") %></p>
      <p1>病名</p1>
      <p><%= post.sick_name %></p>
      <p1>期間</p1>
      <p><%= post.period %></p>
      <p1>内容</p1>
      <p><%= post.content %></p>
       <% if Like.find_by(user_id: @current_user.id,post_id: post.id) %>
         <%= link_to("/likes/#{post.id}/destroy" , {method: "post"}) do %>
          <span><i class="fa fa-heart unlike-like-btn"></i></span>
         <% end %>
       <% else %>
         <%= link_to("/likes/#{post.id}/create" , {method: "post"}) do %>
          <span><i class="fa fa-heart like-btn"></i></span>
         <% end %>
       <% end %>

      <% likes_count = Like.where(post_id: post.id).count %>
      <%= likes_count %>

     </div>
    </div>
   <% end %>
  </div>

 </div>
</div>
