<div class="main-area">
  <div class="content">
    <div class="center"><h1>編集</h1></div>
    <div class="main-content-wrapper">
      <div class="main-content">
        <%= form_tag("/posts/#{@post.id}/update") do %>
        <p>病名</p>
        <p><textarea name = "sick_name" rows="1"><%= @post.sick_name %></textarea></p>
        <p>期間</p>
        <p><textarea name = "period" rows="1"><%= @post.period %></textarea></p>
        <p>初期症状</p>
        <p><textarea name = "initial_symptom" rows="1"><%= @post.initial_symptom %></textarea></p>
        <p>内容</p>
        <p><textarea name = "content" rows="6" cols="40"><%= @post.content %></textarea></p>
        <p><input type ="submit" value="更新"></p>
       <% end %>
      </div>
    </div>
  </div>
</div>
