
 <div class ="row">
   <div class="col-md-offset-2 col-md-8">
  <div class="center">
      <h1>投稿一覧</h1>
      <p>ログイン名</p>
      <p><%= @current_user.name %></p>
  </div>

  <div class="main-content">
    <% @posts.each do |post| %>
    <div class="main-post-content">

      <% user = User.find_by(id: post.user_id) %>
        <div class="float"><%= image_tag "/#{post.user.image}", :width => '150', :height => '150' %></div>

    <div class="head-index">

     <div class="body-index">
      <div class="head-index">名前</div>
      <div class="head-index"><p><%= link_to(post.name,"/users/#{post.user_id}") %></p></div>
     </div>

     <div class="body-index">
      <div class="head-index">病名</div>
      <div class="head-index"><p><%= post.sick_name %></p></div>
     </div>

     <div class="body-index">
      <div class="head-index">期間</div>
      <div class="head-index"><p><%= post.period %></p></div>
     </div>

    </div>
    <div class="time-index"><p><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p></div>


      <div class="body-index"><p1>初期症状</p1>
        <p><%= post.initial_symptom %></p>
      </div>
      <div class="body-index"><p1>内容</p1>
      <p><%= post.content %></p>
      </div>

    <div class="float-index">
      <div class="like">
          <% if Like.find_by(user_id: @current_user.id,post_id: post.id) %>
            <%= link_to("/likes/#{post.id}/destroy" , {method: "post"}) do %>
              <span><i class="fa fa-heart unlike-like-btn fa-2x"></i></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{post.id}/create" , {method: "post"}) do %>
              <span><i class="fa fa-heart like-btn fa-2x"></i></span>
            <% end %>
          <% end %>
        <% post_count = Post.find_by(id: post.id) %>
        <% likes_count = Like.where(post_id: post_count.id).count %>
        <%= likes_count %>
      </div>
      <div class="detail"><%= link_to("詳細","/posts/#{post.id}",:style=>"color:black;" ) %></div>
    </div>

    </div>
    <% end %>
  </div>
 </div>
</div>
