<div class="row">
<div class="col-md-offset-2 col-md-8">
  <div class="center"><h1><%= @user.name %></h1></div>
  <p style="text-align:center"><%= image_tag "/#{@user.image}", :width => '120', :height => '120' %></p>


  <% if @user == @current_user %>
    <div class="editrial">
      <p><%= link_to('ユーザー編集',"/admin/users/#{@user.id}/edit") %></p>
      <p><%= link_to('いいね！一覧',"/admin/users/#{@user.id}/likes") %></p>
    </div>
  <% else %>
    <div class="center">
      <% if @isRoom == true %>
        <p class="chat-main-wrapper"><%= link_to('チャットへ',"/rooms/#{@userRoom_id}") %></p>
    </div>
    <% else %>
    <div>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
        <%= f.submit(["チャットを始める"],class: 'chat-form') %>
      <% end %>
    </div>
    <% end %>
  <% end %>

  <div class="follow-user">
    <%= render 'follow_form' %>
    <%= render 'stats' %>
  </div>


  <h2><%= @user.name %> の投稿一覧</h2>
  <div class="main-content">
    <% @posts.each do |post| %>
    <div class="main-post-content">
      <div class="float"><%= image_tag "/#{post.user.image}", :width => '120', :height => '120' %></div>

     <div class="head-index">

      <div class="body-index">
       <div class="head-index">名前</div>
       <div class="head-index"><p><%= post.name %></p></div>
      </div>

     <div class="body-index">
       <div class="head-index">病名</div>
       <div class="head-index"><p><%= post.sick_name %></p></div>
     </div>

      <div class="body-index">
        <div class="head-index">期間</div>
        <div class="head-index"><p><%= post.period %></p></div>
      </div>

      </div>

      <div class="left">
        <div class="body-index"><p1>初期症状</p1>
          <p><%= post.initial_symptom %></p>
        </div>
        <div class="body-index"><p1>内容</p1>
          <p><%= post.content %></p>
        </div>
      </div>

      <% #if @user == @current_user %>
      <div class="detail"><%= link_to("詳細","/posts/#{post.id}",:style=>"color:black;" ) %></div>
      <% #end %>
      </div>

    <% end %>
  </div>

　</div>
</div>
