<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <nav>
    <div class="float">
      <div class="contribution"><%= link_to 'TOP','/',:style=>"color:white;" %></div>
      <% if @current_user == nil %>
      <div class="singnup-wrapper-modal contribution">新規登録はこちら</div>
      <div class="login-wrapper-modal contribution">ログインはこちら</div>
      <% end %>
    </div>

    <% if @current_user %>
    <div class="main-search">
      <div class="btn-contribution">

        <%= link_to(@current_user.name ,"/admin/users/#{@current_user.id}",:style=>"color:white",class: "top-index") %>
        <%= link_to '投稿はこちら','/posts/new', :style=>"color:white;",class: "top-index" %>
        <%= link_to 'ログアウトはこちら',"/logout", :style=>"color:white;" ,:method=>"delete" %>
      </div>

      <div class ="btn-search">
        <%= form_tag("/posts/search_symptom", :method => 'get') do %>
        <div class="search"><span style="color:white">初期症状</span>
          <%= text_field_tag :symptom %>
          <%= submit_tag "検索" , :initial_symptom => nil %>
          <% end %>
        </div>
        <% end %>
      </div>
    </nav>
  </div>
</div>
</header>



  <div class="modal" id="signup-modal">
    <div class="row">
      <div class="main-wrapper-area">
        <div class="modal-content">
          <div class="close-modal">
            <i class="fa fa-2x fa-times"></i>
          </div>
          <h1>ユーザー登録</h1>

          <%= form_tag admin_users_path(@user) do |f| %>
          <div class="form">
            <p1>名前</p1>
            <p><input type="text" name = "name"></p>
          </div>
          <div class="form">
            <p1>メールアドレス</p1>
            <p><input type="text" name = "email"></p>
          </div>
          <div class="form">
            <p1>パスワード</p1>
            <p><input name = "password" type="password"></p>
          </div>
          <div class="form">
            <p1>パスワード（確認）</p1>
            <p><input type="password" name = "password_confirmation"></p>
          </div>
          <div class="form">
            <input type="checkbox" name="admin" value="admin">
            管理者権限
          </div>
          <div class="form">
            <p><input type ="submit" value="登録" class="submit"></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="login-modal">
    <div class="row">
      <div class="main-wrapper-area">
        <div class="modal-content">
          <div class="close-modal">
            <i class="fa fa-2x fa-times"></i>
          </div>
          <h1>ログイン画面</h1>

          <%= form_tag ("/login") do  %>

          <div class="form">
            <p>メールアドレス</p>
            <p><input type="text" name = "email"></p>
          </div>
          <div class="form">
            <p>パスワード</p>
            <p><input name = "password" type="password"></p>
            <p><input type ="submit" value="ログイン" class="login-submit"></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
